* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.header {
    height: 200px;
    /* border: 1px solid red; */
    width: 100%;
    background-color: rgb(250, 249, 248);
}

.header-top {
    height: 70%;
    width: 95%;
    /* border: 1px solid blue; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hnm-image {
    width: 110px;
    height: 70px;
    position: absolute;
    left: 50%;
    right: 50%;
    overflow: hidden;
}

.hnm-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

/* .icon{
    height: 20px;
} */

.circle {
    height: 5px;
    font-weight: bolder;
    color: rgb(10, 10, 10);
    padding-bottom: 3px;
}

.circle:hover {
    color: red;
}

.h-left {
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}

.head-l {
    display: flex;
    align-items: center;
    height: 100%;
    /* border: 1px solid green; */
    width: 30%;
}

.head-r {
    display: flex;
    width: 40%;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}

.head-r div {
    margin-right: 15px;
    display: flex;
    align-items: center;
    /* padding-bottom: 10px; */
}

.user {
    /* border: 1px solid red; */
    height: 30px;
    margin-right: 5px;
}

.favourite {
    /* border: 1px solid red; */
    height: 30px;
    margin-right: 5px;
}

.cart {
    /* border: 1px solid red; */
    height: 30px;
    margin-right: 5px;

}

.head-bottom {
    display: flex;
}

.filter {

    width: 60%;
    /* border: 1px solid red; */
    display: flex;
    margin-left: 150px;
    margin-top: 20px;

}

.filter ul {
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.filter ul li {
    list-style: none;
    display: flex;
    justify-content: space-around;

}

.f-right {
    width: 22%;
    /* border: 1px solid brown; */
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    height: 100%;
    align-items: center;
}

.f-right input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 13px;
    padding-bottom: 7px;
    padding-left: 20px;
    background-color: rgb(250, 249, 248);
}

.search {
    border-bottom: 1px solid black;
    font-size: 23px;
    background-color: rgb(250, 249, 248);
    /* padding-bottom: 8px; */

}

.footer {
    width: 100%;
    max-width: 1300px;
    height: 70vh;
    margin: auto;
    background-color: rgb(222, 220, 220);

}

.f-content {
    width: 90%;
    height: 70%;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    padding-top: 50px;
}

.f-c {
    width: 25%;
    height: 100%;
    /* border: 1px solid black; */
    /* display: flex; */
}

.f-c div {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 8px;
}

.f-c p {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

.arrow {
    font-size: 20px;
    margin-top: 5px;
    margin-left: 20px;
    /* padding-top: 20px; */
    font-weight: normal;
}

.r-more {
    height: 30px;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.f-icons {
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.font-icons {
    height: 20px;
}

.copyright {
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
}

.Active,
.Inactive {
    width: 50px;
}

#Signin {
    border: none;
    background-color: transparent;
}

.Active+.pop {
   
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to left , rgb(0, 0, 0,0.5) 50%, rgb(0, 0, 0,0.5) 50%);
    position: absolute;
    inset: 0;
    margin: auto;
   z-index: 6;
    display: block;
    overflow: hidden;
}



.Inactive+.pop {
    /* transform: scale(0); */
    /* visibility: hidden; */
    display: none;
    
}
.pop{
    padding:0% 25%;
    
}
.pop-content {
     width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* border: 1px solid red; */
   background-color: white;
   position: absolute;
   top: 10%;
   left: 25%;
   
   /* transform: translate(50%,50%); */
   z-index: 10;
}


#Email-label,
#Pass-label {
    padding-top: 20px;
    margin-left: 20px;
}

#Email,
#Password {
    min-width: 450px;
    height: 40px;
    margin-left: 20px;

}

.rememberMe {
    width: 90%;
    text-decoration: underline;
    margin-top: 10px;
    justify-content: space-between;
    font-size: 13px;
    margin-left: 20px;
}

.rememberMe>input {
    width: 20px;
    height: 20px;
}

.end {
    position: absolute;
    top: 5px;
    right: 5px;
}

.submit {
    width: 100%;
    height: 40px;
    margin-left: 30px;
    color: rgb(250, 250, 250);
    background-color: rgb(0, 0, 0);
    border: none;
    outline: none;
    margin-top: 30px;
}

.Member {
    width: 100%;
    height: 40px;
    margin-left: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(252, 252, 252);
    /* border: none; */
    border: 1px solid black;
    outline: none;
    margin-top: 30px;
}

.M-info {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 15px;
    margin-top: 15px;
}

.signIn-heading {
    text-align: center;
    font-size: 14px;
    width: 90%;
    margin: auto;
}

.pop-box {
    width: 100%;
    height: 100%;
    background-color: black;
}

#home-content{
 background-color: rgb(250, 249, 248);
 width: 100%;
}

#info-container{
    width: 80%;
    margin: auto;
    height: 80px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
    
}

.woman-img{
    width: 60%;
    height: 500px;
    margin: 20px auto;
    overflow: hidden;
}

.woman-img img{
    width: 100%;
    height: 100%;
    /* aspect-ratio: 2/1; */
    object-fit: cover;
    overflow: hidden ;
}
.man-img{
    width: 60%;
    height: 500px;
    /* aspect-ratio: 2/1; */
    margin:20px auto;
    overflow: hidden;
}

.man-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden ;
}

#homescreen{
    width: 100%;
}
#mens-container{
    display: flex;
    width: 100%;
}
.sort-left{
    width: 20%;
    /* height: 600px; */
    height: auto;
    /* border: 1px solid red; */
}

.mens-content{
    width: 60%;
    height: auto;
    /* border: 1px solid green; */
}

.sort-section{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.sort-section div{
    /* font-weight: normal; */
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.men-img img{
height: 100%;
width: 100%;
object-fit: cover;
/* overflow: hidden; */
}

.men-img{
    height: 500px;
    overflow: hidden;
    margin-bottom: 20px;
}